/* CSS Document */
body {color:#333;padding: 0px;margin: 0px; font-size:62.5%;font-family: 微软雅黑, Verdana, sans-serif, 宋体;}

/************************以下是内容样式***********************/
.panel{padding:0.5em; font-size:1.5em;line-height: 2em;}
.panel ul{padding:0;}
.panel img{max-width: 100%;height: auto;width: auto;border:none;}




